h1 {
  font-family:Amatic SC;
  font-size:100px;
}

h3 {
  font-family:Amatic SC;
  font-size: 40px;
}

h2 {
  font-family:Amatic SC;
  font-size: 40px;
}

body{
  background: -webkit-linear-gradient(to right, White, White);
} 

h3{
  background: linear-gradient(to right, White, White);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  background: linear-gradient(to right, White, White);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1{
  background: linear-gradient(to right, White, White);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

