h1 {
  font-family:Amatic SC;
  font-size:100px;
}

h3 {
  font-family:Amatic SC;
  font-size: 40px;
}

h2 {
  font-family:Amatic SC;
  font-size: 40px;
}

body{
   -webkit-linear-gradient(0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.2)), color-stop(0.25, transparent)), -webkit-linear-gradient(0 0, 100% 100%, color-stop(0.25, rgba(0, 0, 0, 0.2)), color-stop(0.25, transparent)), -webkit-linear-gradient(0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.2))), -webkit-linear-gradient(0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, rgba(0, 0, 0, 0.2)));

} 

h3{
  background: linear-gradient(to right, White, White);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  background: linear-gradient(to right, White, White);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1{
  background: linear-gradient(to right, White, White);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

